/** Base color palette **/
$main-color: white;
$scnd-color: rgb(221,121,15);
$thrd-color: rgb(136,141,81);

/** Dim color palette **/
$main-color-dim: rgb(240, 240, 240);
$scnd-color-dim: rgba(241,141,25);
$thrd-color-dim: rgba(156,181,101);

/** Links palette **/
$base-color: rgb(0,0,0);
$base2-color: rgb(200,200,200);

$link-color: rgb(175,139,87);
$hovr-color: rgb(230,230,230);