/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */

@use 'base' as root;
@use 'navbar';

/* ----------------------------------------------------------------------------------------
							PROJECT'S CUSTOM CSS
---------------------------------------------------------------------------------------- */

html,
body {
	background-color: root.$main-color;
}

label {
	font-weight: normal;
}

.title {
	margin: 2% 0 2% 0;
}

.footer {
	position: fixed;
	bottom: 0;
	font-size: 16px;
}


.site-error {
	@extend %flexy-col;
	
	height: 85vh;
}

.Select-menu-outer {
	position: relative;
    z-index: 1000;
	
	color: root.$base-color;
}

.site-content {
	color: root.$base-color;
	font-family: 'Orkney Light';
	font-size: 15px;

	& .menu {
		position: fixed;
		top: 0;
		left: 0;
		background-color: root.$main-color;
		height: 50px;
		width: 100%;
		padding: 20px;
		z-index: 1; 
	
		& .nav-item {
			padding: 0 4px;
		}
	}

	& .sidebar {
		position: fixed;
		top: 50px;
		left: 0;
		bottom: 0;
		z-index: 1;
		
		width: 20vw;
		padding: 20px 10px;
		
		overflow: scroll;
		background-color: root.$main-color;
	}
	
	& #page-content {
		position: relative;
		left: 20vw;
		z-index: 0;
	
		width: 80vw;
		height: 100vh;
		padding: 20px;
	
		background-color: root.$base2-color;
		font-family: 'Fira Code VF';
	
		& * {
			font-weight: 300 !important;
		}
		
		& .content-data {
			position:relative;
			top: 55px;
	
			background-color: root.$base2-color;

			&.features-content {
				margin-top: 5vh;
			}
	
			& .internal-menu {
				z-index: 1;
				width: inherit;
				
				& .btn {
					margin: 0 4px;
				}
			}
	
			& .graph-chunk {
				margin-bottom: 3em;
				& h4 {font-size: 18px !important;}
	
				& .dash-graph {
					border: solid 1px;
					box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 70%);
				}
			}
	
			& .info-btn {
				width: 25px;
				height: 25px;
				margin: 10px;
				border-radius: 50%;
				padding: 0;
				
				font-size: 8px;
	
				& i {
					font-size: 10px;
				}
			}
		}
	}
}
