@charset "UTF-8";
/** Base color palette **/
/** Dim color palette **/
/** Links palette **/
@font-face {
  font-family: "Glober thin";
  src: url("../fonts/Glober Thin Free.ttf") format("truetype");
}
@font-face {
  font-family: "Orkney Regular";
  src: url("../fonts/Orkney Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Orkney Light";
  src: url("../fonts/Orkney Light.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Light.woff2") format("woff2"), url("../fonts/fira/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Regular.woff2") format("woff2"), url("../fonts/fira/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Medium.woff2") format("woff2"), url("../fonts/fira/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-SemiBold.woff2") format("woff2"), url("../fonts/fira/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Bold.woff2") format("woff2"), url("../fonts/fira/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code VF";
  src: url("../fonts/fira2/FiraCode-VF.woff2") format("woff2-variations"), url("../fonts/fira/FiraCode-VF.woff") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "Monserrat Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Monserrat Extralight";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							CUSTOM CSS BUTONS
---------------------------------------------------------------------------------------- */
.btn {
  border-radius: 5px;
}
.btn i {
  font-size: 1rem;
}

.btn-primary {
  color: white;
  background-color: #333333;
  border-color: white;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
  background-color: #515151;
  border-color: white;
}
.btn-primary:hover:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:focus:focus {
  background-color: #515151;
  border-color: white;
}

.open > .dropdown-toggle.btn-primary {
  background-color: #515151;
  border-color: white;
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: #515151;
  border-color: white;
}

.btn-secondary {
  color: #f18d19;
  background-color: #333333;
  border-color: #f18d19;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}
.btn-secondary:hover:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .btn-secondary:focus:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}

.open > .dropdown-toggle.btn-secondary {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}
.open > .dropdown-toggle.btn-secondary:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}

.btn-third {
  color: #9cb565;
  background-color: #333333;
  border-color: #9cb565;
}
.btn-third:hover, .btn-third:active, .btn-third.active, .btn-third:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}
.btn-third:hover:focus, .btn-third:active:focus, .btn-third.active:focus, .btn-third:focus:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}

.open > .dropdown-toggle.btn-third {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}
.open > .dropdown-toggle.btn-third:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}

.btn-primary-outline {
  color: white;
  background-color: #515151;
  border-color: white;
}
.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline.active, .btn-primary-outline:focus {
  color: #515151;
  background-color: white;
}
.btn-primary-outline:hover:focus, .btn-primary-outline:active:focus, .btn-primary-outline.active:focus, .btn-primary-outline:focus:focus {
  color: #515151;
  background-color: white;
}

.open > .dropdown-toggle.btn-primary-outline {
  color: white;
  background-color: #515151;
}
.open > .dropdown-toggle.btn-primary-outline:focus {
  color: white;
  background-color: #515151;
}

.btn-secondary-outline {
  color: #f18d19;
  background-color: #515151;
  border-color: #f18d19;
}
.btn-secondary-outline:hover, .btn-secondary-outline:active, .btn-secondary-outline.active, .btn-secondary-outline:focus {
  color: #515151;
  background-color: #f18d19;
}
.btn-secondary-outline:hover:focus, .btn-secondary-outline:active:focus, .btn-secondary-outline.active:focus, .btn-secondary-outline:focus:focus {
  color: #515151;
  background-color: #f18d19;
}

.open > .dropdown-toggle.btn-secondary-outline {
  color: #515151;
  background-color: #f18d19;
}
.open > .dropdown-toggle.btn-secondary-outline:focus {
  color: #515151;
  background-color: #f18d19;
}

.btn-third-outline {
  color: #9cb565;
  background-color: #515151;
  border-color: #9cb565;
}
.btn-third-outline:hover, .btn-third-outline:active, .btn-third-outline.active, .btn-third-outline:focus {
  color: #515151;
  background-color: #9cb565;
}
.btn-third-outline:hover:focus, .btn-third-outline:active:focus, .btn-third-outline.active:focus, .btn-third-outline:focus:focus {
  color: #515151;
  background-color: #9cb565;
}
.btn-third-outline-inverted {
  color: white;
  background-color: #9cb565;
  border-color: white;
}

.open > .dropdown-toggle.btn-third-outline {
  color: white;
  background-color: #9cb565;
}
.open > .dropdown-toggle.btn-third-outline:focus {
  color: white;
  background-color: #9cb565;
}

.btn-main {
  color: #515151;
  background-color: #6c757d;
  border-color: #515151;
}
.btn-main:hover, .btn-main:active, .btn-main.active, .btn-main:focus {
  color: #6c757d;
  background-color: #515151;
}
.btn-main:hover:focus, .btn-main:active:focus, .btn-main.active:focus, .btn-main:focus:focus {
  color: #6c757d;
  background-color: #515151;
}

.open > .dropdown-toggle.btn-main {
  color: #6c757d;
  background-color: #515151;
}
.open > .dropdown-toggle.btn-main:focus {
  color: #6c757d;
  background-color: #515151;
}

.btn-main-outline {
  color: #6c757d;
  background-color: #515151;
  border-color: #6c757d;
}
.btn-main-outline:hover, .btn-main-outline:active, .btn-main-outline.active, .btn-main-outline:focus {
  color: #515151;
  background-color: #6c757d;
}
.btn-main-outline:hover:focus, .btn-main-outline:active:focus, .btn-main-outline.active:focus, .btn-main-outline:focus:focus {
  color: #515151;
  background-color: #6c757d;
}

.open > .dropdown-toggle.btn-main-outline {
  color: #515151;
  background-color: #6c757d;
}
.open > .dropdown-toggle.btn-main-outline:focus {
  color: #515151;
  background-color: #6c757d;
}

/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							ORIGINAL YII2 CSS
---------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

body.blank {
  display: flex;
  padding: 40px 0;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

body.blank .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: -40px auto;
  padding: 15px;
}

body.blank .wrap > div {
  width: 100%;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "";
}

a.desc:after {
  content: "";
}

.sort-numerical a.asc:after {
  content: "";
}

.sort-numerical a.desc:after {
  content: "";
}

.sort-ordinal a.asc:after {
  content: "";
}

.sort-ordinal a.desc:after {
  content: "";
}

.grid-view th,
.grid-view td:last-child {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* ----------------------------------------------------------------------------------------
							MODIFIED YII2 CSS
---------------------------------------------------------------------------------------- */
.has-success .control-label {
  color: inherit;
}

/* ----------------------------------------------------------------------------------------
							CUSTOM NICKGOODWIND CSS
---------------------------------------------------------------------------------------- */
.aligned-text-center, .pull-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.transparent {
  background-color: transparent;
  z-index: 1;
}

.colored {
  color: #f18d19;
}

.round {
  border-radius: 5px;
}

.footer, .form-basic, .flexy-col, .flexy-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexy-row > .first-element {
  margin-left: 20px;
}
.flexy-row.row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer, .form-basic, .flexy-col {
  flex-direction: column;
  align-items: center;
}

.flexy-col > .first-element {
  margin-top: 20px;
}

.flexy-row.between, .flexy-col.between {
  justify-content: space-between;
}
.flexy-row.evenly, .flexy-col.evenly {
  justify-content: space-evenly;
}
.flexy-row.start, .flexy-col.start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flexy-row.end, .flexy-col.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-field:nth-child(n) {
  padding: 0;
  padding-left: 15px;
}
.flex-field:last-child {
  padding-right: 15px;
}
.flex-field:only-child {
  padding-left: 0;
  padding-right: 0;
}
.flex-field.start {
  justify-self: flex-start;
}
.flex-field.center {
  justify-self: center;
}
.flex-field.end {
  justify-self: flex-end;
}
.flex-field.line {
  display: flex;
  flex-grow: 1;
  margin: 0;
}
.flex-field.break {
  flex-basis: 100%;
  height: 0;
}

.form-basic {
  margin: 0 4em;
}

.form-buttons {
  margin-top: 1em;
}

.footer {
  z-index: 1000;
  width: 100%;
  height: 50px;
  border-top: none;
  background-color: #333333;
  color: #af8b57;
  font-family: "Glober thin";
  font-weight: bold;
}
.footer .container {
  position: relative;
}
.footer .container .legal-notice {
  align-self: baseline;
  position: absolute;
  left: 2em;
}
.footer .container .legal-notice a {
  color: #af8b57;
}

/*# sourceMappingURL=base.css.map */
