/** Base color palette **/
/** Dim color palette **/
/** Links palette **/
/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							CUSTOM CSS BUTONS
---------------------------------------------------------------------------------------- */
.btn {
  border-radius: 5px;
}
.btn i {
  font-size: 1rem;
}

.btn-primary {
  color: white;
  background-color: #333333;
  border-color: white;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
  background-color: #515151;
  border-color: white;
}
.btn-primary:hover:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:focus:focus {
  background-color: #515151;
  border-color: white;
}

.open > .dropdown-toggle.btn-primary {
  background-color: #515151;
  border-color: white;
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: #515151;
  border-color: white;
}

.btn-secondary {
  color: #f18d19;
  background-color: #333333;
  border-color: #f18d19;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}
.btn-secondary:hover:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .btn-secondary:focus:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}

.open > .dropdown-toggle.btn-secondary {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}
.open > .dropdown-toggle.btn-secondary:focus {
  color: white;
  background-color: rgba(241, 141, 25, 0.7);
}

.btn-third {
  color: #9cb565;
  background-color: #333333;
  border-color: #9cb565;
}
.btn-third:hover, .btn-third:active, .btn-third.active, .btn-third:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}
.btn-third:hover:focus, .btn-third:active:focus, .btn-third.active:focus, .btn-third:focus:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}

.open > .dropdown-toggle.btn-third {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}
.open > .dropdown-toggle.btn-third:focus {
  color: white;
  background-color: rgba(156, 181, 101, 0.5);
}

.btn-primary-outline {
  color: white;
  background-color: #515151;
  border-color: white;
}
.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline.active, .btn-primary-outline:focus {
  color: #515151;
  background-color: white;
}
.btn-primary-outline:hover:focus, .btn-primary-outline:active:focus, .btn-primary-outline.active:focus, .btn-primary-outline:focus:focus {
  color: #515151;
  background-color: white;
}

.open > .dropdown-toggle.btn-primary-outline {
  color: white;
  background-color: #515151;
}
.open > .dropdown-toggle.btn-primary-outline:focus {
  color: white;
  background-color: #515151;
}

.btn-secondary-outline {
  color: #f18d19;
  background-color: #515151;
  border-color: #f18d19;
}
.btn-secondary-outline:hover, .btn-secondary-outline:active, .btn-secondary-outline.active, .btn-secondary-outline:focus {
  color: #515151;
  background-color: #f18d19;
}
.btn-secondary-outline:hover:focus, .btn-secondary-outline:active:focus, .btn-secondary-outline.active:focus, .btn-secondary-outline:focus:focus {
  color: #515151;
  background-color: #f18d19;
}

.open > .dropdown-toggle.btn-secondary-outline {
  color: #515151;
  background-color: #f18d19;
}
.open > .dropdown-toggle.btn-secondary-outline:focus {
  color: #515151;
  background-color: #f18d19;
}

.btn-third-outline {
  color: #9cb565;
  background-color: #515151;
  border-color: #9cb565;
}
.btn-third-outline:hover, .btn-third-outline:active, .btn-third-outline.active, .btn-third-outline:focus {
  color: #515151;
  background-color: #9cb565;
}
.btn-third-outline:hover:focus, .btn-third-outline:active:focus, .btn-third-outline.active:focus, .btn-third-outline:focus:focus {
  color: #515151;
  background-color: #9cb565;
}
.btn-third-outline-inverted {
  color: white;
  background-color: #9cb565;
  border-color: white;
}

.open > .dropdown-toggle.btn-third-outline {
  color: white;
  background-color: #9cb565;
}
.open > .dropdown-toggle.btn-third-outline:focus {
  color: white;
  background-color: #9cb565;
}

.btn-main {
  color: #515151;
  background-color: #6c757d;
  border-color: #515151;
}
.btn-main:hover, .btn-main:active, .btn-main.active, .btn-main:focus {
  color: #6c757d;
  background-color: #515151;
}
.btn-main:hover:focus, .btn-main:active:focus, .btn-main.active:focus, .btn-main:focus:focus {
  color: #6c757d;
  background-color: #515151;
}

.open > .dropdown-toggle.btn-main {
  color: #6c757d;
  background-color: #515151;
}
.open > .dropdown-toggle.btn-main:focus {
  color: #6c757d;
  background-color: #515151;
}

.btn-main-outline {
  color: #6c757d;
  background-color: #515151;
  border-color: #6c757d;
}
.btn-main-outline:hover, .btn-main-outline:active, .btn-main-outline.active, .btn-main-outline:focus {
  color: #515151;
  background-color: #6c757d;
}
.btn-main-outline:hover:focus, .btn-main-outline:active:focus, .btn-main-outline.active:focus, .btn-main-outline:focus:focus {
  color: #515151;
  background-color: #6c757d;
}

.open > .dropdown-toggle.btn-main-outline {
  color: #515151;
  background-color: #6c757d;
}
.open > .dropdown-toggle.btn-main-outline:focus {
  color: #515151;
  background-color: #6c757d;
}

/*# sourceMappingURL=buttons.css.map */
