/** Base color palette **/
/** Dim color palette **/
/** Links palette **/
/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							CUSTOM CSS BUTONS
---------------------------------------------------------------------------------------- */
.btn {
  border-radius: 5px;
}
.btn i {
  font-size: 1rem;
}

.btn-primary {
  color: black;
  /* background-color: root.$main-color; */
  border-color: black;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
  color: #c8c8c8;
  /* background-color: root.$main-color-dim; */
}
.btn-primary:hover:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:focus:focus {
  color: #c8c8c8;
  /* background-color: root.$main-color-dim; */
}

.open > .dropdown-toggle.btn-primary {
  color: #c8c8c8;
  /* background-color: root.$main-color-dim; */
}
.open > .dropdown-toggle.btn-primary:focus {
  color: #c8c8c8;
  /* background-color: root.$main-color-dim; */
}

.btn-secondary {
  color: black;
  background-color: #f18d19;
  border-color: black;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary:focus {
  color: #c8c8c8;
  background-color: #dd790f;
}
.btn-secondary:hover:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .btn-secondary:focus:focus {
  color: #c8c8c8;
  background-color: #dd790f;
}

.open > .dropdown-toggle.btn-secondary {
  color: #c8c8c8;
  background-color: #dd790f;
}
.open > .dropdown-toggle.btn-secondary:focus {
  color: #c8c8c8;
  background-color: #dd790f;
}

.btn-third {
  color: black;
  background-color: #9cb565;
  border-color: black;
}
.btn-third:hover, .btn-third:active, .btn-third.active, .btn-third:focus {
  color: #c8c8c8;
  background-color: #888d51;
}
.btn-third:hover:focus, .btn-third:active:focus, .btn-third.active:focus, .btn-third:focus:focus {
  color: #c8c8c8;
  background-color: #888d51;
}

.open > .dropdown-toggle.btn-third {
  color: #c8c8c8;
  background-color: #888d51;
}
.open > .dropdown-toggle.btn-third:focus {
  color: #c8c8c8;
  background-color: #888d51;
}

.btn-primary-outline {
  color: black;
  background-color: #f0f0f0;
  border-color: black;
}
.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline.active, .btn-primary-outline:focus {
  color: #f0f0f0;
  background-color: black;
}
.btn-primary-outline:hover:focus, .btn-primary-outline:active:focus, .btn-primary-outline.active:focus, .btn-primary-outline:focus:focus {
  color: #f0f0f0;
  background-color: black;
}

.open > .dropdown-toggle.btn-primary-outline {
  color: black;
  background-color: #f0f0f0;
}
.open > .dropdown-toggle.btn-primary-outline:focus {
  color: black;
  background-color: #f0f0f0;
}

.btn-secondary-outline {
  color: #dd790f;
  background-color: #f0f0f0;
  border-color: #dd790f;
}
.btn-secondary-outline:hover, .btn-secondary-outline:active, .btn-secondary-outline.active, .btn-secondary-outline:focus {
  color: #f0f0f0;
  background-color: #dd790f;
}
.btn-secondary-outline:hover:focus, .btn-secondary-outline:active:focus, .btn-secondary-outline.active:focus, .btn-secondary-outline:focus:focus {
  color: #f0f0f0;
  background-color: #dd790f;
}

.open > .dropdown-toggle.btn-secondary-outline {
  color: #f0f0f0;
  background-color: #dd790f;
}
.open > .dropdown-toggle.btn-secondary-outline:focus {
  color: #f0f0f0;
  background-color: #dd790f;
}

.btn-third-outline {
  color: #888d51;
  background-color: #f0f0f0;
  border-color: #888d51;
}
.btn-third-outline:hover, .btn-third-outline:active, .btn-third-outline.active, .btn-third-outline:focus {
  color: #f0f0f0;
  background-color: #888d51;
}
.btn-third-outline:hover:focus, .btn-third-outline:active:focus, .btn-third-outline.active:focus, .btn-third-outline:focus:focus {
  color: #f0f0f0;
  background-color: #888d51;
}
.btn-third-outline-inverted {
  color: black;
  background-color: #888d51;
  border-color: black;
}

.open > .dropdown-toggle.btn-third-outline {
  color: black;
  background-color: #888d51;
}
.open > .dropdown-toggle.btn-third-outline:focus {
  color: black;
  background-color: #888d51;
}

.btn-main {
  color: #f0f0f0;
  background-color: #c8c8c8;
  border-color: #f0f0f0;
}
.btn-main:hover, .btn-main:active, .btn-main.active, .btn-main:focus {
  color: #c8c8c8;
  background-color: #f0f0f0;
}
.btn-main:hover:focus, .btn-main:active:focus, .btn-main.active:focus, .btn-main:focus:focus {
  color: #c8c8c8;
  background-color: #f0f0f0;
}

.open > .dropdown-toggle.btn-main {
  color: #c8c8c8;
  background-color: #f0f0f0;
}
.open > .dropdown-toggle.btn-main:focus {
  color: #c8c8c8;
  background-color: #f0f0f0;
}

.btn-main-outline {
  color: #c8c8c8;
  background-color: #f0f0f0;
  border-color: #c8c8c8;
}
.btn-main-outline:hover, .btn-main-outline:active, .btn-main-outline.active, .btn-main-outline:focus {
  color: #f0f0f0;
  background-color: #c8c8c8;
}
.btn-main-outline:hover:focus, .btn-main-outline:active:focus, .btn-main-outline.active:focus, .btn-main-outline:focus:focus {
  color: #f0f0f0;
  background-color: #c8c8c8;
}

.open > .dropdown-toggle.btn-main-outline {
  color: #f0f0f0;
  background-color: #c8c8c8;
}
.open > .dropdown-toggle.btn-main-outline:focus {
  color: #f0f0f0;
  background-color: #c8c8c8;
}

/*# sourceMappingURL=buttons.css.map */
