@media screen and (max-width: 450px) {
  .navbar {
    left: 0;
    top: 0;
    width: 100%;
  }

  .affix#main {
    position: fixed;
    top: 0px;
    width: 100vw;
  }
  .affix#main .icon-bar {
    background-color: black;
  }

  .navbar-header {
    display: block;
  }
  .navbar-header button {
    float: right;
  }

  .navbar-brand .logo-alt {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .navbar-header {
    display: block;
  }
  .navbar-header button {
    float: right;
  }
}
/** Base color palette **/
/** Dim color palette **/
/** Links palette **/
/** Base color palette
$main-color: white;
$scnd-color: rgb(241,141,25);
$thrd-color: rgb(156,181,101);

Dim color palette
$main-color-dim: rgb(240, 240, 240);
$scnd-color-dim: rgba(241,141,25,0.7);
$thrd-color-dim: rgba(156,181,101,0.5);

Links palette
$base-color: rgb(0,0,0);
$base2-color: #6c757d;

$link-color: rgb(175,139,87);
$hovr-color: rgb(230,230,230); **/
@media screen and (max-width: 450px) {
  * {
    max-width: 100vw;
  }

  .wrap {
    font-size: 16px;
    padding: 0;
  }

  .site-index {
    top: -70px;
    position: relative;
  }

  .logo {
    position: relative;
    top: -80px;
    background-size: 300px;
    height: 300px;
    width: 350px;
  }

  .slogan {
    top: -60px;
  }
  .slogan .title {
    font-size: 20px;
  }
  .slogan .phrase {
    font-size: 14px;
  }

  .content:after {
    content: none;
  }

  .presentation {
    align-self: unset;
    margin-bottom: 0;
    margin-top: 0;
  }
  .presentation #btn-main {
    align-self: auto;
  }
  .presentation .lead {
    width: 90%;
    margin-bottom: 2em;
  }
  .presentation .icn {
    display: none;
  }
  .presentation h1 {
    text-align: center;
    font-size: 32px;
  }
  .presentation p {
    text-align: justify;
    font-size: 20px;
  }

  .body-content {
    padding: 1em;
  }

  .logo-sm {
    background: url("../../images/logo.png") center no-repeat;
    width: 270px;
    height: 150px;
    margin-top: 18vh;
    border-radius: 10px;
  }

  .p_s {
    padding: 1em;
    font-size: 18px;
  }
  .p_s .title {
    margin-top: 1em;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 36px;
    text-align: center;
  }

  .preview {
    width: auto;
    height: min-content;
    margin-bottom: 3em;
  }
  .preview.display {
    display: none;
  }
  .preview .info {
    width: 80%;
  }
  .preview .prev-image {
    margin-top: 20px;
  }
  .preview#webapp_preview {
    color: #333333;
  }

  .mobile {
    display: block;
  }
  .mobile .prev-image {
    width: 80%;
  }

  h2 {
    font-size: 28px;
  }

  .feats {
    background-position-x: 50%;
    background-attachment: scroll;
  }
  .feats .container.additional-inner {
    max-height: none;
  }
  .feats .features-border-top .col-md-3:after, .feats .features-border-top .right-border:before {
    width: 0px;
  }
  .feats .features-border-top {
    border: 0;
  }

  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 4em 0;
  }
  .contact .title {
    margin: 1.5em 0;
    margin-bottom: 4em;
  }
  .contact .process-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scale(0.5);
  }

  .footer {
    height: 7em;
    width: 100vw;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .legal-notice {
    position: relative;
    left: 0;
    align-self: unset;
  }

  .wrap.pages {
    padding: 0;
  }
  .wrap.pages .pages_container {
    width: 100vw;
    overflow-x: hidden;
  }

  .site-about {
    margin-top: 4em;
  }
  .site-about .coming-soon {
    width: 90%;
    align-self: center;
  }
  .site-about .coming-soon #hist_img {
    top: 10%;
    left: 50%;
    margin-left: -25%;
  }
  .site-about .time-line .time-item .item-content {
    width: 100%;
    text-align: justify;
    text-align-last: unset !important;
  }
  .site-about .time-line .time-item .item-content p, .site-about .time-line .time-item .item-content h2 {
    background-color: rgba(51, 51, 51, 0.7);
  }
  .site-about .time-line .time-item .item-content .item-image {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    opacity: 0.5;
  }
  .site-about .time-line .time-item .line {
    opacity: 0.4;
    height: 100%;
    width: auto;
    max-width: 1000px;
  }
  .site-about .time-line .time-item.left .item-image {
    top: 10%;
  }
  .site-about .time-line .time-item.right .item-image {
    left: 50%;
  }
  .site-about .time-line .time-item.item-5 .line, .site-about .time-line .time-item.item-6 .line {
    transform: unset;
  }
  .site-about .time-line .time-item.item-end .item-image {
    width: 50%;
  }

  .site-products {
    margin-bottom: 6em;
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px) {
  .logo {
    background-size: 300px;
    height: 300px;
    width: 350px;
  }

  .slogan .title {
    font-size: 20px;
  }

  .slogan .phrase {
    font-size: 18px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .logo {
    background-size: 400px;
  }

  .slogan .title {
    font-size: 30px;
  }

  .slogan .phrase {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .intro .logo {
    background-size: 200px;
  }
  .intro .slogan {
    top: -60px;
  }

  .content {
    top: 400px;
  }

  .preview.display {
    font-size: 18px;
  }
  .preview.display .title {
    text-align: center;
    font-size: 34px;
  }
  .preview.display#webapp_preview .image {
    height: 160px;
  }
  .preview.display#marketing_preview .image {
    right: -2em;
    height: auto;
  }

  .contact {
    align-items: center;
    padding: 0 1em;
  }
  .contact .title {
    top: 0;
    margin: 1em;
  }
  .contact .process-icon {
    display: none;
  }

  .footer {
    position: relative;
    bottom: 0;
    height: 7em;
  }
  .footer .legal-notice {
    align-self: auto;
    position: unset;
    padding-bottom: 1em;
  }

  .site-about .time-line .time-item.item-end {
    flex-direction: row;
  }
  .site-about .time-line .time-item.item-end .item-image {
    width: 50%;
  }
}

/*# sourceMappingURL=site.css.map */
